name: Update API Bindings

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: docker://nwndotnet/nss2csharp:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "./repo"
          ssh-key: ${{ secrets.API_PUSH_KEY }}
          persist-credentials: true

      - name: Load Revisions
        id: "revision"
        run: |
          NWNX_SHA=$(curl -u "u:${{github.token}}" https://api.github.com/repos/nwnxee/unified/git/ref/heads/master | jq .object.sha | tr -d '"')
          echo ::set-output name=nwnx_sha::$( echo $NWNX_SHA )
          echo ::set-output name=nwnx_sha_short::$( echo $NWNX_SHA | cut -c1-8 )
          NWN_SHA=$(curl -u "u:${{github.token}}" https://api.github.com/repos/urothis/nwn-assets/git/ref/heads/main | jq .object.sha | tr -d '"')
          echo ::set-output name=nwn_sha::$( echo $NWN_SHA )

      - name: Checkout NWNX
        uses: actions/checkout@v2
        with:
          repository: "nwnxee/unified"
          path: "./nwnx"
          ref: ${{ steps.revision.outputs.nwnx_sha }}

      - name: Checkout nwscript.nss
        run: |
          wget -P "${GITHUB_WORKSPACE}/nwn" https://raw.githubusercontent.com/urothis/nwn-assets/${{ steps.revision.outputs.nwn_sha }}/key-file/pkg5.bif/nwscript.nss

      - name: Convert
        run: |
          rm -rfv "${GITHUB_WORKSPACE}/repo/src/NWNX/Plugins/*"
          dotnet /app/Nss2CSharp.dll "${GITHUB_WORKSPACE}/nwn" "${GITHUB_WORKSPACE}/repo/src/NWN" "${GITHUB_WORKSPACE}/nwnx/Plugins" "${GITHUB_WORKSPACE}/repo/src/NWNX/Plugins"
          if [ -z "$(ls -A ${GITHUB_WORKSPACE}/repo/src/NWNX/Plugins)" ]; then
            exit 1
          fi

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.102

      - name: Test Build
        run: |
          cd ${GITHUB_WORKSPACE}/repo
          dotnet build --configuration Release
      
      - name: Load Game Version
        id: "version"
        run: |
          echo "::set-output name=nwn_build::$(grep 'set(TARGET_NWN_BUILD ' ./nwnx/CMakeLists.txt | cut -d' ' -f2 | sed 's/)//')"
          echo "::set-output name=nwn_build_revision::$(grep 'set(TARGET_NWN_BUILD_REVISION ' ./nwnx/CMakeLists.txt | cut -d' ' -f2 | sed 's/)//')"

      - name: Commit Changes
        run: |
          cd ${GITHUB_WORKSPACE}/repo
          git config user.name Jorteck
          git config user.email jorteckdev@gmail.com
          git add -A src/NWN/NWScript.cs src/NWNX/Plugins/*
          git diff-index --quiet HEAD src/NWN/NWScript.cs src/NWNX/Plugins/* || git commit -m "Update APIs (NWNX: ${{ steps.revision.outputs.nwnx_sha_short }}, NWN: ${{ steps.version.outputs.nwn_build }}.${{ steps.version.outputs.nwn_build_revision }})." && git push