name: Update API Bindings

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      tag:
        description: 'Commit Tag'

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: docker://nwndotnet/nss2csharp:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "./repo"
          ssh-key: ${{ secrets.API_PUSH_KEY }}
          persist-credentials: true

      - name: Download Tools
        run: |
          apt-get update && apt-get install -y curl unzip docker && \
          wget https://github.com/niv/neverwinter.nim/releases/download/1.5.4/neverwinter.linux.amd64.zip && \
          unzip neverwinter.linux.amd64.zip

      - name: Load Environment Info
        id: "dotenv"
        uses: falti/dotenv-action@v0.2.6
        with:
          path: "./repo/.env"

      - name: Load Revisions
        id: "revision"
        run: |
          NWNX_SHA=$(curl -u "u:${{github.token}}" https://api.github.com/repos/nwnxee/unified/git/ref/tags/${{ steps.dotenv.outputs.nwnx_tag }} | jq .object.sha | tr -d '"')
          echo ::set-output name=nwnx_sha::$( echo $NWNX_SHA )
          echo ::set-output name=nwnx_sha_short::$( echo $NWNX_SHA | cut -c1-8 )

      - name: Checkout NWNX
        uses: actions/checkout@v2
        with:
          repository: "nwnxee/unified"
          path: "./nwnx"
          ref: ${{ steps.revision.outputs.nwnx_sha }}
      
      - name: Extract Server Image
        uses: shrink/actions-docker-extract@v1
        with:
          image: beamdog/nwserver:${{ steps.dotenv.outputs.nwn_tag }}
          path: /nwn

      - name: Extract nwscript.nss
        run: |
          ./nwn_key_unpack ${{ steps.extracted.outputs.destination }}/nwn/data/data/nwn_base.key ${GITHUB_WORKSPACE}/nwserver-extracted
          cp ${GITHUB_WORKSPACE}/nwserver-extracted/nwscript.nss ${GITHUB_WORKSPACE}/nwn

      - name: Convert
        run: |
          su -c "rm -fv ${GITHUB_WORKSPACE}/repo/src/NWNX/Plugins/*"
          dotnet /app/Nss2CSharp.dll "${GITHUB_WORKSPACE}/nwn" "${GITHUB_WORKSPACE}/repo/src/NWN" "${GITHUB_WORKSPACE}/nwnx/Plugins" "${GITHUB_WORKSPACE}/repo/src/NWNX/Plugins"
          if [ -z "$(ls -A ${GITHUB_WORKSPACE}/repo/src/NWNX/Plugins)" ]; then
            exit 1
          fi

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Test Build
        run: |
          cd ${GITHUB_WORKSPACE}/repo
          dotnet build --configuration Release

      - name: Load Game Version
        id: "version"
        run: |
          echo "::set-output name=nwn_build::$(grep 'set(TARGET_NWN_BUILD ' ./nwnx/CMakeLists.txt | cut -d' ' -f2 | sed 's/)//')"
          echo "::set-output name=nwn_build_revision::$(grep 'set(TARGET_NWN_BUILD_REVISION ' ./nwnx/CMakeLists.txt | cut -d' ' -f2 | sed 's/)//')"

      - name: Commit Changes
        run: |
          cd ${GITHUB_WORKSPACE}/repo
          git config user.name Jorteck
          git config user.email jorteckdev@gmail.com
          git add -A src/NWN/NWScript.cs src/NWNX/Plugins/
          git diff-index --quiet HEAD src/NWN/NWScript.cs src/NWNX/Plugins/ ||
          git commit -m "Update APIs (NWNX: ${{ steps.revision.outputs.nwnx_sha_short }}, NWN: ${{ steps.version.outputs.nwn_build }}.${{ steps.version.outputs.nwn_build_revision }})." &&
          if [ ${{ github.event.inputs.tag }} != '' ]; then git tag ${{ github.event.inputs.tag }} && git push --atomic origin master ${{ github.event.inputs.tag }}; else git push; fi;
